// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.back1 {
    height: 100vh;
    width: 100%;
    background-image: url(sindan-listen.jpg);
    background-size: cover;
}
.sindan {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 320px;
    height: 450px;
    
} 

.container-sindan {
    
}

.row {
    
}

.col-12 {

}

.col-6 {

}

.sindanbotan {

}

.intoro {

}

.tweet-container {

}

.tweet {
    
}