// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.back2 {
    height: 100vh;
    width: 100%;
    background-image: url(sindan-sing.jpg);
    background-size: cover;
}

.container-sindann {
    
}

.row {

}

.col-12 {
    
}

.col-6 {

}

.key {
    margin-top: 20px;
    padding-top: 20px;
}

.sindanbotan {

}